
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


.list-item:not(:last-of-type):after{
	content: ',';
	margin-left: -3px;
}

dd {
	margin-bottom:1ex;
}

.employer p:nth-of-type(2):before {
	content: 'Area: ';
}

.employer p:nth-of-type(3):before {
	content: 'Position: ';
}

p.years {
	font-size: 0.85em;
	color:#454545;
	margin:-10px 0px 8px;
}

header {
	background-color: #EDEDBA;
}

header .col {
	position: relative;
	background-color: #EDEDBA;
	z-index: 2;
}

#sidebar .panel {
	padding-top: 10px;
	z-index: 2;
}

#ze-image {
	position: fixed;
	z-index: 1;
	top:0px;
	bottom: 0px;
	left:0px;
	right:70%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#rcol {
	position: relative;
	z-index:2;
	background-color: white;
}